* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0px;
  padding: 0px;
}

h1 {
  margin: 20px;
}

h2,
h3 {
  margin: 15px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

body {
  font-family: "Work Sans", sans-serif;
  /* overflow: hidden; */
}

/* .parent {
  background-color: #eee;
} */

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  /* background-color: #ddd; */
}

@media only screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* variables and components */
/* ====================== */

:root {
  --primary-color: rgb(80, 206, 191);
  --secondary-color: rgb(40, 40, 81);
  --section-padding: 60px;
}

.special-heading {
  margin: 0;
  font-size: 100px;
  font-weight: 800;
  color: #ebeced;
  text-align: center;
  letter-spacing: -5px;
}
.special-heading + p {
  font-size: 20px;
  color: #777;
  text-align: center;
  margin: -32.5px 0 30px;
}

/* header */
/* ====================== */
header {
  padding: 10px;
}

header .container {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  height: 25px;
}

.icon {
  /* background-color: red; */
  width: 30px;
  height: 20px;
  /* background-color: green; */
  display: flex; /*span display is inline so I need flex to make it block and also to tie up the design of the icon */
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
  cursor: pointer;
}

span.line {
  width: 100%;
  height: 2.5px;
  background-color: black;
  border-radius: 5px;
}

span.line:nth-child(2) {
  width: 80%;
  transition: 0.2s;
}

.links:hover span.line:nth-child(2) {
  width: 100%;
}

.links ul {
  background-color: #f6f6f6;
  position: absolute;
  top: calc(100%);
  right: 10px;
  min-width: 200px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  z-index: 100;
  display: none;
}

.links ul::before {
  content: "";
  position: absolute;
  top: -20px;
  right: 5px;
  border-width: 10px;
  border-color: transparent transparent #f6f6f6 transparent;
  border-style: solid;
}

.links:hover ul {
  display: block;
}

.links ul li a {
  display: block;
  width: 100%;
  padding: 15px;
  color: #333;
  transition: 0.3s;
}

.links ul li a:hover {
  padding-left: 25px;
}

.links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}

/* landing */
/* ====================== */
.landing {
  background-image: url("../imgs/landing.jpg");
  background-size: cover;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing .intro-text {
  position: absolute;
  /* background-color: red; */
  max-width: 100%;
  width: 350px;
  text-align: center;
}

.landing .intro-text h1 {
  font-size: 50px;
  font-weight: bold;
  color: var(--primary-color);
}

.landing .intro-text p {
  font-size: 20px;
  line-height: 1.8;
}

/* features */
/* ====================== */

.features {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: #f6f6f6;
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 40px;
}

.features .feat {
  text-align: center;
}

.features .feat i {
  color: var(--primary-color);
  font-size: 30px;
}

.features .feat h3 {
  color: #333;
  font-weight: 800;
  font-size: 20px;
}

.features .feat p {
  color: #777;
  font-size: 17.5px;
  line-height: 1.8;
}

/* services */
/* ====================== */

.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.services-area {
  margin-top: var(--section-padding);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  /* align-items: center; */
}

/* .services-area .col {
  height: 300px;
} */

.services-area .serve {
  display: flex;
  margin: 20px;
}

.services-area .serve i {
  color: var(--primary-color);
  font-size: 30px;
}

.services-area .serve .text {
  margin-left: 25px;
}

.services-area .serve .text h3 {
  margin: 0;
  margin-bottom: 15px;
}

.services-area .serve .text p {
  color: #777;
  line-height: 1.6;
}
.services .col {
  position: relative;
}
.services .col .image {
  width: 246px;
  height: 328px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  /* transform: translateY(20.08px); */
}

.services .col .image::after {
  content: "";
  width: 90px;
  height: 120%;
  background-color: var(--secondary-color);
  position: absolute;
  right: -35px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.services .col img {
  width: 246px;
}

@media (max-width: 991px) {
  .services .col:last-child {
    display: none;
  }
}

/* portfolio */
/* ====================== */

.portfolio {
  background-color: #f6f6f6;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.portfolio .projects-area {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: var(--section-padding);
}

.portfolio .projects-area .project-card {
  background-color: white;
}

.portfolio .projects-area .project-card img {
  width: 100%;
}

.portfolio .projects-area .project-card .text {
  padding: 15px;
}

.portfolio .projects-area .project-card .text h3 {
  margin: 10px 0;
}

.portfolio .projects-area .project-card .text p {
  color: #777;
  line-height: 1.6;
}

/* about */
/* ====================== */

.about {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.about .about-area {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 30px;
  margin-top: var(--section-padding);
}

.about .about-area .image {
  width: 300px;
  height: 450px;
  position: relative;
}

.about .about-area .image::before {
  content: "";
  width: 75px;
  height: 120%;
  background-color: #eee;
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.about .about-area .image::after {
  content: "";
  border-left: 75px solid var(--primary-color);
  border-bottom: 75px solid var(--primary-color);
  width: 100px;
  height: 50%;
  position: absolute;
  right: -130px;
  top: -45px;
  z-index: -1;
}

@media (max-width: 991px) {
  .about .about-area {
    justify-items: center;
  }
  .about .about-area .image {
    margin: 30px;
  }
  .about .about-area .image::before {
    display: none;
  }
  .about .about-area .image::after {
    display: none;
  }
}

.about .about-area .image img {
  width: 100%;
}

.about .about-area .text {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about .about-area .text p {
  line-height: 1.8;
}

.about .about-area .text p:first-child {
  font-weight: bold;
}

.about .about-area .text hr {
  border-color: var(--primary-color);
  margin: 40px 0 20px;
}

.about .about-area .text p:nth-child(3) {
  color: #777;
}

/* contact */
/* ====================== */

.contact {
  background-color: #f6f6f6;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
}

.contact h3 {
  margin-top: calc(var(--section-padding) * 2);
  font-size: 30px;
  font-weight: 800;
  color: var(--secondary-color);
}

.contact a {
  margin-top: calc(var(--section-padding) * 2);
  font-size: 30px;
  font-weight: 800;
  color: var(--primary-color);
}

.contact a + p {
  margin-top: calc(var(--section-padding) - 50px);
}

.contact a + p i {
  margin-left: 10px;
  color: var(--secondary-color);
  font-size: 20px;
}
